<div class="container">
  <%= form_with model: product do |form|%>
    <div class="input">
      <div class="label">
        <%= form.label :name, t('zh-TW.products.index.attributes.product.name') %>
      </div>
      <div class="field">
        <%= form.text_field :name %>
      </div>
    </div>
    <div class="input">
      <div class="label">
        <%= form.label :price, t('zh-TW.products.index.attributes.product.price') %>
      </div>
      <div class="field">
        <%= form.text_field :price %>
      </div>
    </div>
    <div class="input">
      <div class="label">
        <%= form.label :stock, t('zh-TW.products.index.attributes.product.stock') %>
      </div>
      <div class="field">
        <%= form.text_field :stock %>
      </div>
    </div>
    <div class="submit">
      <%= form.submit %>
    </div>
  <% end %>
</div>
