<h1>Product List</h1>
<p><%= flash[:notice] %></p>
<%= link_to t('.actions.new'), new_product_path %>
<%= link_to t('.actions.ASC'), products_path(ordered: 'ASC') %>
<%= link_to t('.actions.DESC'), products_path(ordered: 'DESC') %>

<div class="search">
  <%= search_form_for @q do |form| %>
    <%= form.search_field :keyword_eq, placeholder: '輸入名稱或叫貨狀態'%>

    <%= form.submit 'search'%>
  <% end %>
</div>

<div class="product">
  <div class="container">
    <div class="header">
      <div class="col"><%= t('.attributes.product.name') %></div>
      <div class="col"><%= t('.attributes.product.price') %></div>
      <div class="col"><%= t('.attributes.product.stock') %></div>
      <div class="col"><%= t('.attributes.product.scheduled_start') %></div>
      <div class="col"><%= t('.attributes.product.scheduled_end') %></div>
      <div class="col"><%= t('.attributes.product.stock_state') %></div>
      <div class="col"><%= t('.attributes.product.stock_resolve') %></div>
      <div class="col"><%= t('.actions.edit') %></div>
      <div class="col"><%= t('.actions.delete')%></div>
    </div>
    <div class="body">
      <% @products.each do |product|%>
        <div class="row">
          <div class="col name"><%= product.name %></div>
          <div class="col price"><%= product.price %></div>
          <div class="col stock"><%= product.stock %></div>
          <div class="col scheduled"><%= product.scheduled_start ? product.scheduled_start.strftime('%Y/%m/%d') : "" %></div>
          <div class="col stock"><%= product.scheduled_end ? product.scheduled_end.strftime('%Y/%m/%d') : "" %></div>
          <div class="col"><%= product.stock_state %></div>
          <div class="col"><%= product.product_resolve %></div>
          <div class="col edit"><%= link_to 'Edit', edit_product_path(product) %></div>
          <div class="col delete"><%= link_to 'Delete', product_path(product), method:'Delete'  %></div>
        </div>
      <% end %>
    </div>
  
  </div>
</div>